# URL CONNECT DATABASE
# Config: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://admin:admin@localhost:5437/workspace_db"

# SECRET KEY JWT example
JWT_SECRET= "API_SECRET_KEY_"

# PORT SERVER
PORT=9005
