# URL CONNECT DATABASE
# Config: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
WORKSPACE_URL="postgresql://admin:admin@localhost:5437/workspace_db"

# SECRET KEY JWT example
JWT_SECRET= "API_SECRET_KEY_"

# PORT SERVER
PORT=9005

# INTERNAL GATEWAY URL
GATEWAY_URL="http://localhost:8000"
